*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 123, 0);
    color: white;
}

.container2{
    font-family: 'Frijole', cursive;
    margin: 0;
    background-color: rgb(109, 11, 165);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: double;
    max-width: 400px;
}

.enter-btn{
    background-color: black;
}