
*{
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(255, 123, 0);
    color: black;
    background-image: url('https://media.giphy.com/media/TlK63EJxus3ajSaHJ04/giphy.gif');
    background-size: repeat;
}
.calendar{
    /* padding: 10%; */
    margin:10%;
}
.container{
    font-family: 'Frijole', cursive;
    background-color: rgb(233, 114, 2);
    border-radius: 20px;
}

.container h1, .container h5, .container a{
    text-align: center;
}

.container2{
    font-family: 'Frijole', cursive;
    margin: 0;
    background-color: rgb(109, 11, 165);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: double;
    max-width: 400px;
}

.enter-btn{
    background-color: black;
}
ul {
    list-style-type: none;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  .days li a{
    background-color: black ;
}

.days li a:hover{
    background-color: rgb(255, 123, 0) ;
}

.select-dropdown{
color: black;
font-family: 'Frijole', cursive;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; 
    text-align: center;
}


a{
    color: white;
    text-align: center;
}

  /* Month header */
  .month {
    padding: 70px 25px;
    width: 100%;
    background:rgb(255, 123, 0);
    text-align: center;
  }

  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color:purple;
    font-family: 'Frijole', cursive;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }

  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    
  }

  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 5px;
    color: #777;
  }

  
  .days li .active {
    padding: 5px;
    background: rgb(255, 123, 0);
    color: white !important
  }


  .containerClear{
    text-align: center;
    justify-content: center;
}
.containerClear button{
 background-color: #000;
}
.containerClear button:hover{
  background-color: rgb(255, 123, 0) ;
 }



  @media screen and (min-width: 740px) {
    .weekdays{
      font-size: 20px;
    }

  .month {
    font-size: 10px;
  }
  }
  
  @media screen and (max-width: 741px) {
     .weekdays {
      font-size: 10px;
    }
    .brand-logo {
     height: 30px;
      line-height: 30px; 
  }
  .month ul li {
    font-size: 20px;
  }
  nav .brand-logo {
    font-size: 1.5rem;

  }